html, body, #root{
  height: 100% !important;
   font-family: -apple-system, BlinkMacSystemFont, 'Nunito', 'Inter','Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h1,h2,h3,h5,h6{
  font-family: 'Inter', sans-serif !important;
}
.toggle-password-icon {
  float: right;
  margin-right: 5px;
  margin-top: -58px;
  position: relative;
  padding: 10px;
  z-index: 2;
  cursor: pointer;
}
.active_link{
  background-color: whitesmoke;
  color: purple;
}
.bg-login{
  background-image: url("./assets/bg_one.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.chakra-button:focus{
  outline: none !important;
  border: none !important;
}
.chat-list-container{
  overflow-y: auto;
  flex: 1;
  max-height: 540px;
}
.chat-list-container::-webkit-scrollbar {
  width: 7px;
}
.chakra-modal__header,.chakra-modal__body{
  padding: 0px !important;
}
section.chakra-modal__content{
  max-width: 32rem !important;
}
.chat-list-container::-webkit-scrollbar-track {
  background: #ddd;
}
.chat-list-container::-webkit-scrollbar-thumb {
  background: #18001b;
}
.message-body{
  padding: 0px 10px;
  flex: 1;
  overflow-y: auto;
  align-items: center;
  justify-content: center;
  max-height: 625px;
}
.chakra-menu__menu-button{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 38px;
  width: 38px;
  padding: 0;
}
.chakra-menu__menu-button:focus{
 outline: none;
}
.chakra-menu__menu-list{
  margin-top: -7px;
  padding: 0 !important;
  top: 10px !important;
  left: -185px !important;
  position: absolute;
}
.message-body{
  height: calc(100% - 126px) !important;
}
.message-body p{
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
.message-input{
  font-size: .83rem !important;
  width: calc(100% - 60px) !important;
  font-weight: 600 !important;
  line-height: 1.5 !important;
  color: #495057 !important;
  margin: 0px 5px !important;
  border: none !important;
  display: inline !important;
  background-color: #ececec !important;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.chat_message {
  padding: 5px;
  border-radius: 10px;
  margin: 10px;
  margin-bottom: 20px;
}
.chat_message_receive{
  border-top-left-radius: 0px !important;
  font-size: .94em;
  margin-top: 10px;
  margin-right: auto;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 15px;
  width: fit-content;
  max-width: calc(100% - 100px);
}
.chat_message_send{
  font-size: .94em;
  margin-top: 10px;
  margin-left: auto;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 15px;
  width: fit-content;
  max-width: calc(100% - 100px);
  border-bottom-right-radius: 0px !important;
}
.active_chat{
  border-right-color: #d401d4;
  border-right-width: 5px;
  background-color: rgba(243, 243, 243, 0.808);
}
.side-details{
  padding: 0px 10px;
  flex: 1 1;
  overflow-y: auto;
  align-items: center;
  justify-content: center;
  max-height: 678px;
  padding-bottom: 10px;
}
.side-details::-webkit-scrollbar {
  width: 8px;
  border-radius: 20px;
}
.side-details::-webkit-scrollbar-track {
  background: #ddd;
}
.side-details::-webkit-scrollbar-thumb {
  background: #c50505;
  border-radius: 20px;
}
.user_profile{
  padding: 25px 10px !important;
  border-radius: 50px !important;
  background-color: #f7f7f7 !important;
}
.user_menu .chakra-menu__menu-list{
  left: 0 !important;
}
.font-bold {
  font-weight: 700 !important;
}
.font-bolder{
  font-weight: bolder !important;
}