html, body, #root{
  height: 100% !important;
}

.toggle-password-icon {
  float: right;
  margin-right: 5px;
  margin-top: -58px;
  position: relative;
  padding: 10px;
  z-index: 2;
  cursor: pointer;
}
.bg-login{
  background-image: url("./assets/bg_one.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
